body {
  background-color: #ccffe6;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 100px; }

a {
  color: #006666; }
  a:hover {
    color: #333333; }
  a:visited {
    color: #cccccc; }

h1 {
  line-height: 40px;
  margin: 0px; }

h2 {
  line-height: 38px; }

h3 {
  line-height: 30px; }

.header {
  margin-bottom: 50px; }

hr {
  display: block;
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border: 1px dashed #666666; }

#nav-header {
  font-size: 24px;
  color: #ffffff;
  padding-left: 50px; }

.navbar {
  border: none;
  padding-top: 20px;
  padding-bottom: 20px; }
  .navbar .social-icons {
    padding-right: 30px; }
    .navbar .social-icons a {
      color: #333333; }
      .navbar .social-icons a:hover {
        color: #666666; }
      .navbar .social-icons a:visited {
        color: #333333; }

.navbar-nav {
  font-family: "Pontano Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  display: none; }

#menu-button {
  margin-top: 10px;
  font-family: "Pontano Sans", sans-serif; }

#slideshow {
  position: relative;
  height: 400px;
  overflow: hidden;
  margin: 0px auto;
  width: 900px;
  padding-top: 30px; }
  #slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8; }
    #slideshow img.active {
      z-index: 10; }
    #slideshow img.last-active {
      z-index: 9; }

.about {
  padding: 80px 0px; }

#work {
  background-color: #ffffff;
  padding: 50px;
  color: #ffffff; }
  #work .illustration {
    background-color: #006666; }
  #work .data {
    background-color: #00cc7a; }
  #work .identity {
    background-color: #ff7733; }
  #work .dev {
    background-color: #708090; }
  #work .print {
    background-color: #993333; }
  #work .row {
    margin-bottom: 30px; }
  #work .header {
    color: #333333; }
  #work .work-img {
    position: relative;
    height: 240px;
    overflow: hidden; }
  #work .artwork {
    border-top: 1px solid #333333; }
  #work .caption {
    top: 0;
    left: 20;
    position: absolute;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Pontano Sans", sans-serif;
    letter-spacing: 1px;
    padding: 5px;
    border-top: 1px solid #333333; }

.contact {
  padding: 50px;
  margin-bottom: 30px; }
  .contact .social-icons a:hover {
    color: #006666; }

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 50px;
  font-family: "Pontano Sans", sans-serif; }

@media screen and (max-width: 768px) {
  body {
    padding-top: 0px;
    font-size: 24px; }

  .navbar {
    position: relative; }
    .navbar .social-icons {
      margin-left: -15px;
      font-size: 24px; }
    .navbar #nav-header {
      padding-left: 30px;
      font-size: 36px;
      margin-bottom: 5px; }

  .about {
    padding: 30px 0px; }
    .about .intro-text {
      margin-left: 0px;
      padding: 0px 65px 10px 10px; }
    .about .img-circle {
      padding-top: 10px; }

  h1 {
    line-height: 40px; }

  .header {
    margin-bottom: 50px; }

  #work .portfolio {
    padding: 30px; }
    #work .portfolio .row {
      margin-bottom: 0px; }
  #work .work-img {
    height: 480px;
    margin-bottom: 50px; }
  #work .caption {
    font-size: 18px; }

  .footer {
    font-size: 14px; } }
@media screen and (max-width: 480px) {
  body {
    padding-top: 0px;
    font-size: 24px; }

  .navbar {
    position: relative; }
    .navbar .social-icons {
      margin-left: -15px;
      font-size: 24px; }
    .navbar #nav-header {
      padding-left: 15px;
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 50px; }

  .about {
    padding: 30px 0px; }
    .about .intro-text {
      margin-left: 0px;
      margin-top: 15px;
      padding: 25px; }

  h1 {
    font-size: 36px; }

  .header {
    margin-bottom: 50px; }

  #work .portfolio {
    padding: 30px; }
    #work .portfolio .row {
      margin-bottom: 0px; }
  #work .work-img {
    height: 160px;
    margin-bottom: 30px; }
  #work .caption {
    font-size: 16px; }

  .contact {
    padding: 30px; }
    .contact .social-icons {
      font-size: 24px; }

  .footer {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
