@import'helpers/variables';
@import 'helpers/mixins';

body {
  background-color: $mint;
  font-family: $serif-font;
  font-weight: 400;
  font-size: $base-font-size + 4;
  padding-top: 100px;
}
a{
  color: $teal;
  &:hover{
    color: $dark-gray;
  }
  &:visited{
    color: $light-gray;
  }
}

h1{
  line-height: $base-line-height + 10;
  margin:0px;
}
h2{
  line-height: $base-line-height + 8 ;

}
h3{
  line-height: $base-line-height;
}

.header{
  margin-bottom:$lrg-spacing;
}

hr {
    display: block;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border: $dashed-border
}

#nav-header{
  font-size: $base-font-size * 2;
  color: $white;
  padding-left: $lrg-spacing;
}

.navbar{
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-nav{
  font-family: $sans-font;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.navbar .social-icons{
  padding-right: $med-spacing;
}
.social-icons a{
  color: $dark-gray;
  &:hover{
    color: $medium-gray;
  }
  &:visited{
    color: $dark-gray;
  }
}

#slideshow{
    position: relative;
    height: 400px;
    overflow: hidden;
    margin: 0px auto;
    width: 900px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        &.active{
            z-index: 10;
        }
        &.last-active{
            z-index:9;
        }
    }
}


.about{
  padding: 80px 0px;
}
.intro-text{
  margin-left: $med-spacing;
  padding-right: 100px;
}

#work{
  background-color: $white;
  padding: $lrg-spacing;
  color: $white;
  .illustration {
    @include work-category(illustration);
  }
  .data {
    @include work-category(data);
  }
  .identity{
    @include work-category(identity);
  }
  .dev{
    @include work-category(dev);
  }
  .print{
    @include work-category(print);
  }
  .row{
    margin-bottom: $med-spacing;
  }
  .header{
    color: $dark-gray;
  }
  .work-img{
      position:relative;
      height: $work-img-height;
      overflow: hidden;
  }
  .artwork{
    border-top: $solid-border;
  }
  .caption {
      top:0;
      left:20;
      position: absolute;
      text-transform: uppercase;
      font-size: $base-font-size;
      font-family: $sans-font;
      letter-spacing: 1px;
      padding: 5px;
      border-top: $solid-border;


  }
}

.contact{
  padding:$lrg-spacing;
  margin-bottom: $med-spacing;
  .social-icons a{
    &:hover{
        color: $teal;
    }
  }
}

.footer{
  background-color: $dark-gray;
  color: $white;
  padding: $lrg-spacing;
  font-family: $sans-font;
}


@media screen and (max-width: 768px) {
  body{
    padding-top: 0px;
    font-size: $base-font-size * 2;
  }
  .navbar {
    position: relative;
    .social-icons{
      margin-left: -15px;
      font-size:$base-font-size * 2;
    }
    #nav-header {
      padding-left:$med-spacing;
      font-size: $base-font-size * 3;
      margin-bottom: 5px;
    }
  }


  .about{
    padding: $med-spacing 0px;
    .intro-text{
      margin-left:0px;
      padding:0px 65px 10px 10px;
    }
    .img-circle{
      padding-top: 10px;
    }
  }
  h1{
    line-height: $base-line-height + 10;
  }


  .header{
    margin-bottom: $lrg-spacing;
  }
  #work{
      .portfolio{
        padding: $med-spacing;
        .row{
          margin-bottom: 0px;
        }
      }
      .work-img{
        height: $work-img-height * 2;
        margin-bottom: $lrg-spacing;
      }
      .caption{
        font-size: $base-font-size + 6;
      }
  }

  .footer{
    font-size: $base-font-size + 2;
  }
}

// MEDIA QUERIES

@media screen and (max-width: 480px) {
  body{
    padding-top: 0px;
    font-size: $base-font-size * 2;
  }
  .navbar {
    position: relative;
    .social-icons{
      margin-left: -15px;
      font-size:$base-font-size * 2;
    }
    #nav-header {
      padding-left:15px;
      font-size: $base-font-size * 3;
      line-height: $base-line-height + 10;
      margin-bottom: $lrg-spacing;
    }
  }

  .about{
    padding: $med-spacing 0px;
    .intro-text{
      margin-left:0px;
      margin-top:15px;
      padding: 25px;
    }
  }
  h1{
    font-size: $base-font-size * 3;
  }

  .header{
    margin-bottom: $lrg-spacing;
  }

  #work{
      .portfolio{
        padding: $med-spacing;
        .row{
          margin-bottom: 0px;
        }
      }
      .work-img{
        height: $work-img-height / 1.5;
        margin-bottom: $med-spacing;
      }
      .caption{
        font-size: $base-font-size + 4;
      }
  }


  .contact {
   padding: $med-spacing;
   .social-icons{
     font-size: $base-font-size * 2;
   }
  }
  .footer{
    font-size: $base-font-size + 2;
  }
}
