$teal: #006666;
$mint: #ccffe6;
$light-gray: #cccccc;
$medium-gray: #666666;
$dark-gray: #333333;
$white: #ffffff;

$illustration-flag: $teal;
$data-flag: #00cc7a;
$identity-flag: #ff7733;
$dev-flag: #708090;
$print-flag: #993333;

$serif-font: 'Lora', serif;
$sans-font: 'Pontano Sans', sans-serif;

$solid-border: 1px solid $dark-gray;
$dashed-border: 1px dashed $medium-gray;
$lrg-spacing: 50px;
$med-spacing: 30px;

$base-font-size: 12px;
$base-line-height: 30px;

$work-img-height: 240px;
